[View in Colaboratory](https://colab.research.google.com/github/Santosh-Gupta/Book2Vec/blob/master/GoodReadsDataClean.ipynb)

In [0]:
import re
from collections import Counter
import time

import numpy as np

from __future__ import print_function
import collections
import math
import numpy as np
from numpy import genfromtxt
import random
import zipfile
from six.moves import range
from six.moves.urllib.request import urlretrieve

import os

from urllib.request import urlretrieve
from os.path import isfile, isdir


import pandas as pd

!pip install -U -q PyDrive

from google.colab import files
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import os
import sys


auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
dl_id = input("Enter Gdrive file ID for ratings: ") #1zA50dJB7ZYFPTvk4nHjvZX7jMxXio54w 

# DOWNLOAD ZIP
print ("Downloading  file")
myzip = drive.CreateFile({'id': dl_id})
myzip.GetContentFile('ratings.csv')

Enter Gdrive file ID for ratings: 1zA50dJB7ZYFPTvk4nHjvZX7jMxXio54w
Downloading  file

In [0]:
print( os.listdir() )

['datalab', 'DlRefinedRatings.csv', '.cache', 'checkpointsBook2VecCbowWindow2', 'checkpointsBook2VecCbowWindow2Downloaded', '.forever', 'model.zip', 'books.csv', '.keras', '.local', '.ipython', '.config', 'ratings.csv']

In [0]:
%matplotlib inline

In [0]:
r = pd.read_csv( 'ratings.csv' )
r.book_id.max()

In [0]:
reviews_per_user = r.groupby( 'user_id' ).user_id.apply( lambda x: len( x ))
reviews_per_user.describe()

count    53424.000000
mean       111.868804
std         26.071224
min         19.000000
25%         96.000000
50%        111.000000
75%        128.000000
max        200.000000
Name: user_id, dtype: float64

In [0]:
r.sort_values('rating')

         user_id  book_id  rating
3489851    35383     1257       1
137788      3766      122       1
924756     14673       14       1
924758     14673       65       1
924760     14673       29       1
3216008     8227     7066       1
924766     14673       83       1
3216031     7225     7582       1
4393169    20080     1892       1
137795      3779      131       1
5365129    11151     1085       1
4922630    48127     1794       1
3216051    10313     4981       1
3216057    29154      822       1
5715949    31011       32       1
5883847    32235      992       1
1956011    26862      255       1
5715964    33176     4526       1
1955993    26862     4414       1
3899599    44676      183       1
5365071    24237      992       1
3215729    34920      122       1
1956551    20374     5209       1
1956525    22109      543       1
1956519    14585     3724       1
1956492    14585      249       1
1956452    26799     1867       1
1956401    15732     8630       1
924741     14316      152       1
924656      2290      851       1
...          ...      ...     ...
3051418    31602       88       5
3051419    31602      342       5
3051420    31602      541       5
3051422    31602       16       5
3051423    31602     5624       5
3051391    31602     2863       5
3051315    37808     1599       5
3051390    31602     4538       5
3051375    37054     8968       5
3051318    37808     1406       5
3051319    37808     3386       5
3051340    37805     3550       5
3051344    27797      368       5
3051347    11508      860       5
3051348    11508     2188       5
3051352    23175      359       5
3051354    37805      150       5
3051355    37805     9621       5
3051361    37805       95       5
3051362    37805      427       5
3051363    37805     3699       5
3051365    37805     7838       5
3051366    37805       55       5
3051367    37805      119       5
3051370    37805      186       5
3051371    37805      212       5
3051373    37805     1061       5
3051374    37805       83       5
3051378      956       69       5
2988239    37285     8871       5

[5976479 rows x 3 columns]

In [0]:
r45 = r[r.rating >= 0]  #only have ratings 4 or higher 
r45.sort_values('rating')

In [0]:
reviews_per_user45 = r45.groupby( 'user_id' ).user_id.apply( lambda x: len( x ))
reviews_per_user45.describe()  #desribed the number of times a user pops up, so the number of books a user has reviewed.

count    53424.000000
mean       111.868804
std         26.071224
min         19.000000
25%         96.000000
50%        111.000000
75%        128.000000
max        200.000000
Name: user_id, dtype: float64

In [0]:
r45over5 = r45.groupby('user_id').filter(lambda x: len(x) >= 5) #only have users who appear more than x times. Only include users who have at leasts x ratings
                                                                                                  #So to consider y
                                                                                                 #books to left and right, have x=y*2+1. 7 for cbow window 3, 5 for cbow window 2, etc

In [0]:
reviews_per_user45over5 = r45over5.groupby( 'user_id' ).user_id.apply( lambda x: len( x ))
reviews_per_user45over5.describe()

count    53424.000000
mean       111.868804
std         26.071224
min         19.000000
25%         96.000000
50%        111.000000
75%        128.000000
max        200.000000
Name: user_id, dtype: float64

In [0]:
reviews_per_user45over5BookId = r45over5.groupby( 'book_id' ).user_id.apply( lambda x: len( x ))
reviews_per_user45over5BookId.describe()

count    10000.000000
mean       597.647900
std       1267.289788
min          8.000000
25%        155.000000
50%        248.000000
75%        503.000000
max      22806.000000
Name: user_id, dtype: float64

In [0]:
r45over3Over10B = r45over5.groupby('book_id').filter(lambda x: len(x) >= 15) #only have have that appear more than x times

In [0]:
reviews_per_user45over5BookIdOver10 = r45over3Over10B.groupby( 'book_id' ).user_id.apply( lambda x: len( x ))
reviews_per_user45over5BookIdOver10.describe()

count     9998.000000
mean       597.765553
std       1267.389242
min         24.000000
25%        155.000000
50%        248.000000
75%        503.000000
max      22806.000000
Name: user_id, dtype: float64

In [0]:
r45over3Over10B.to_csv('refinedRatingsForCbowWindow3.csv') #To make it into a regular dataframe object again

In [0]:
rr2 = pd.read_csv( 'refinedRatingsForCbowWindow3.csv' )

rr3= rr2.groupby(['user_id'], as_index=False, sort=True)


print(rr3.apply(lambda x: x.head(20)))

               Unnamed: 0  user_id  book_id  rating
0     0                 0        1      258       5
      75               75        1      268       3
      76               76        1     5556       3
      77               77        1     3638       3
      78               78        1     1796       5
      79               79        1      867       3
      80               80        1       47       3
      81               81        1     2738       3
      230483       230483        1     4691       4
      230484       230484        1      238       2
      230485       230485        1     2063       4
      230486       230486        1      916       3
      230487       230487        1     4614       1
      230488       230488        1      111       3
      230489       230489        1       11       5
      230490       230490        1     1644       5
      230491       230491        1     3889       3
      230492       230492        1      136       5
      230493       230493        1     6665       4
      230494       230494        1      150       3
      230495       230495        1       35       5
      230496       230496        1       33       4
      230498       230498        1       60       3
      230499       230499        1      148       3
      230500       230500        1       10       4
      230501       230501        1       94       1
      230502       230502        1        4       5
      230503       230503        1      492       2
      230504       230504        1       57       3
      230505       230505        1     1521       5
...                   ...      ...      ...     ...
53423 5404363     5404380    53424       83       5
      5404367     5404384    53424       12       4
      5404368     5404385    53424       69       4
      5404369     5404386    53424       91       4
      5404370     5404387    53424      259       4
      5404373     5404390    53424       31       5
      5404374     5404391    53424      138       4
      5404379     5404396    53424      597       4
      5404380     5404397    53424      116       5
      5404381     5404398    53424     1010       5
      5404382     5404399    53424      184       4
      5404383     5404400    53424     4483       5
      5404384     5404401    53424      780       5
      5404385     5404402    53424     1590       5
      5404387     5404404    53424     2366       4
      5404390     5404407    53424      341       4
      5404391     5404408    53424     3077       4
      5404392     5404409    53424     6455       4
      5404393     5404410    53424     3344       4
      5404394     5404411    53424     8609       4
      5404618     5404635    53424      565       5
      5404619     5404636    53424      450       4
      5404620     5404637    53424      648       3
      5404621     5404638    53424     1049       5
      5404622     5404639    53424      294       4
      5404623     5404640    53424      891       4
      5404624     5404641    53424      229       4
      5404625     5404642    53424      340       4
      5404626     5404643    53424     2160       5
      5404629     5404646    53424     3565       4

[5976460 rows x 4 columns]

In [0]:
print(rr2['user_id'].max())

53424

In [0]:
mydict={n : n for n in random.sample(range(1, rr2['user_id'].max()+1), rr2['user_id'].max())}

In [0]:
randomColumn1 = dict()
i=1
for n in random.sample(range(1, rr2['user_id'].max()+1), rr2['user_id'].max()):
  randomColumn1.update({i:n})
  i=i+1

  
rr2['SortIndex1'] = rr2['user_id'].map(randomColumn1)

#rr2['SortIndex2'] = rr2['user_id'].map(randomColumn2)

rr2['SortIndex2'] = np.random.randint(1, 500, rr2.shape[0])

In [0]:
rr2.head()

   Unnamed: 0  user_id  book_id  rating  SortIndex1  SortIndex2
0           0        1      258       5       11157          99
1           1        2     4081       4       37155         112
2           2        2      260       5       37155         349
3           3        2     9296       5       37155         196
4           4        2     2318       3       37155          13

In [0]:
r3 = rr2.sort_values(['SortIndex1', 'SortIndex2']) 

r3.head(50)

#after this, get the header index

        Unnamed: 0  user_id  book_id  rating  SortIndex1  SortIndex2
6436          6436      322     1748       3           1           5
232549      232549      322     1282       2           1           6
7222          7222      322      123       3           1          11
6360          6360      322      364       4           1          20
6439          6439      322     5349       4           1          22
6359          6359      322      358       5           1          40
6362          6362      322      157       5           1          47
231989      231989      322     2193       3           1          49
7880          7880      322      650       3           1          51
6465          6465      322     1580       3           1          53
7883          7883      322     7418       4           1          55
6461          6461      322     8504       3           1          62
234096      234096      322     9436       4           1          65
14656        14656      322      407       3           1          74
6368          6368      322      233       3           1          79
9034          9034      322     9070       3           1          80
231988      231988      322     1421       4           1          80
19616        19616      322     2914       4           1          90
6967          6967      322      863       4           1          92
6358          6358      322      251       4           1          96
232551      232551      322       25       4           1          96
6435          6435      322     3011       3           1          98
6438          6438      322      461       3           1          99
9294          9294      322     3634       4           1         103
232006      232006      322     4137       4           1         103
270195      270195      322       52       3           1         111
7881          7881      322     5802       4           1         114
6975          6975      322     1913       3           1         118
6387          6387      322     1319       3           1         126
6940          6940      322      608       4           1         134
7218          7218      322      618       4           1         142
6481          6481      322     2181       4           1         143
6364          6364      322      339       4           1         146
6968          6968      322      728       3           1         156
232550      232550      322     3546       4           1         162
6391          6391      322     1649       3           1         171
231994      231994      322     9038       3           1         177
6356          6356      322     9803       4           1         180
6467          6467      322     2339       4           1         181
232552      232552      322       85       4           1         191
232553      232553      322        7       4           1         200
7224          7224      322      833       3           1         209
15151        15151      322     5315       3           1         216
7210          7210      322     6535       4           1         224
231993      231993      322     3555       4           1         227
6357          6357      322     5265       4           1         236
232555      232555      322       36       3           1         242
6379          6379      322      516       5           1         244
6440          6440      322      401       4           1         246
6437          6437      322      777       3           1         248

In [0]:
#For more info on what the code below is doing
#https://stackoverflow.com/questions/50892819/pandas-how-to-get-a-row-count-by-the-value-of-a-particular-column-value-and-ad?answertab=oldest#tab-top

r3['Headernumber'] = np.where(r3['user_id'].duplicated(), -1, 
                         r3.groupby('user_id')['user_id'].transform(len))

r3.head(20)

,Unnamed: 0,user_id,book_id,rating,SortIndex1,SortIndex2,Headernumber
6436,6436,322,1748,3,1,5,107
232549,232549,322,1282,2,1,6,-1
7222,7222,322,123,3,1,11,-1
6360,6360,322,364,4,1,20,-1
6439,6439,322,5349,4,1,22,-1
6359,6359,322,358,5,1,40,-1
6362,6362,322,157,5,1,47,-1
231989,231989,322,2193,3,1,49,-1
7880,7880,322,650,3,1,51,-1
6465,6465,322,1580,3,1,53,-1
7883,7883,322,7418,4,1,55,-1
6461,6461,322,8504,3,1,62,-1
234096,234096,322,9436,4,1,65,-1
14656,14656,322,407,3,1,74,-1
6368,6368,322,233,3,1,79,-1
9034,9034,322,9070,3,1,80,-1
231988,231988,322,1421,4,1,80,-1
19616,19616,322,2914,4,1,90,-1
6967,6967,322,863,4,1,92,-1
6358,6358,322,251,4,1,96,-1

In [0]:
r3.to_csv('RefinedRatingsCbowW2ForAnalogies2nd.csv', index=False) #may have to removed the index = false

In [0]:
# 2. Create & upload a file text file.
uploadModel = drive.CreateFile()

#zipname = 'RatingRefined'
#zipfolder(zipname, 'checkpoints5')
uploadModel.SetContentFile("RefinedRatingsCbowW2ForAnalogies2nd.csv") #name of file located in local disk 
uploadModel.Upload()